<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="utf-8"/>
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Sans"/> -->
    </head>
    <body>
        <div id="content" class="col-10">
            {{{message}}} 
            <hr>
            <p class="hint">Якщо ви не знаєте що це за повідомлення ігноруйте його і не переходьте за посиланням!</p>
        </div>
    </body>
</html>